/* Styles for the table container */
.table-container {
  width: 100%;
  overflow: scroll;
  margin: 20px 0;
}

.table-container .custom-select {
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #505d69 !important;
  padding: 0rem !important;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  box-shadow: none !important;
  outline: none !important;
  padding: 5px !important;
  font-size: 1rem;
}

/* Pagination container */
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

/* Pagination buttons */
.pagination button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 5px;
  border: 1px solid #ced4da;
}

.pagination button:hover {
  background-color: #ced4da;
}

/* Styles for the table */
.custom-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

/* Styles for the table header */
.custom-table th {
  background-color: #cccccc52;
  border: 1px solid #ddd;
  padding: 0.66rem;
  text-align: center;
  font-size: 14px;
}

/* Styles for the table body */
.custom-table td {
  border: 1px solid #ddd;
  padding: 0.66rem;
  font-size: 14px;
  text-align: center;
}

/* Styles for the action buttons in the table */
.custom-table button {
  color: #0000008a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.custom-table button:hover {
  color: #0000008a;
}

/* Styles for the selected row */
.custom-table .selected {
  background-color: #f0f0f0;
}

.no-data-message {
  padding: 10px;
  text-align: center;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .table-container .pagination {
    display: inline-flex !important;
    width: max-content !important;
    padding-bottom: 10px !important;
  }
  .table-container .custom-select {
    margin-bottom: 15px;
  }
}
