.accordion-button:not(.collapsed) {
  background-color: #fff;
}
.accordion-button {
  box-shadow: none !important;
}
@media only screen and (max-width: 768px) {
  .date-from-group,
  .anytext-from-group {
    margin: 10px 0;
  }
  .advanced-search-footer-btn-grp {
    text-align: center !important;
  }
  .advanced-search-footer-btn-grp button {
    margin: 10px 0;
  }
}
